
# Allow collectd to check systemd service status
# via dbus.

policy_module(collectd_systemd,0.1);

require {
	type collectd_t;
}

dbus_session_client(system,collectd_t)
init_status(collectd_t)
init_dbus_chat(collectd_t)
systemd_status_all_unit_files(collectd_t)

